body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
  text-align: center;
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
}

.side-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  transition: transform 0.3s;
}

.side-image:hover {
  transform: scale(1.1);
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  white-space: nowrap;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 87.5%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.image-container:hover .tooltip {
  display: block;
}

#mahiru-image:hover {
  content: url('/images/mahiru2.png');
}

#yuji-image:hover {
  content: url('/images/yuji2.png');
}

#yuji-image:hover + .tooltip {
  bottom: 95%;
}

#brown-image:hover {
  content: url('/images/brown2.png');
}

#conversation {
  max-width: 600px;
  margin: 0 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 900px;
  flex-grow: 1;
}

.message {
  margin-bottom: 10px;
  display: flex;
}

.message.user {
  justify-content: flex-end;
}

.message.assistant {
  justify-content: flex-start;
}

.message p {
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
}

.message.user p {
  background-color: #40CBEA;
  color: #fff;
  border-top-right-radius: 0;
}

.message.assistant p {
  background-color: #FE86C1;
  color: #fff;
  border-top-left-radius: 0;
}

.doctor-style {
  background-color: #9DD84B !important;
}

#inputArea {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#inputArea input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#inputArea button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#inputArea button:hover {
  background-color: #0056b3;
}

.switch-buttons {
  position: absolute;
  top: 100px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.switch-buttons a {
  margin: 2px 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.switch-buttons a:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .chat-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .side-image {
    width: 80%;
    max-width: none;
  }

  #conversation {
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
  }

  .message p {
    margin: 3px 5px;
    padding: 5px;
    font-size: 0.9rem;
  }

  #inputArea {
    flex-direction: column;
    align-items: center;
  }

  #inputArea input {
    width: 90%;
    max-width: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #inputArea button {
    width: 90%;
    padding: 10px;
  }

  .switch-buttons {
    top: 20px;
  }
}
